<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Protest+Riot&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
    <header>
        <h1>Main Header</h1>

        <nav>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </nav>
    
    </header></div>
    
    <div class="container1" id="floatCon">
    <aside>
        <h3>Head</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat quia facilis, dolor similique ipsa ipsam architecto quos illo sunt illum dignissimos voluptates voluptatem repudiandae blanditiis dicta placeat temporibus laboriosam vel.</p>
        <img src="https://dummyimage.com/400x400/000/fff" alt="600 X 400">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eius tempore aspernatur, omnis itaque asperiores impedit quae, ex, doloremque adipisci facilis est debitis. Nulla et ab enim vel magni asperiores.</p>
    
    </aside></div>

    <div class="container1">
    <main>
        <h2>Pg Head</h2>
        <h3>Section Head</h3>
        <img src="https://dummyimage.com/600x400/000/fff" alt="600 X 400">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad esse repellendus quam laborum totam facere officia suscipit quisquam ex quasi, unde sint, earum commodi! Voluptates quos itaque quis possimus tempora.</p>
        <p>Nobis fuga natus ex nulla dolor rerum iste rem, vitae in ad iure quas hic. A laborum sunt eaque autem. Obcaecati repellendus repudiandae debitis aperiam cum iure nihil laborum sunt.</p>

        <h3>Sect Head</h3>
        <img src="https://dummyimage.com/400x600/000/fff" alt="400 X 600">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam ea magni incidunt ullam aliquam. Distinctio quasi fugit magni dolor quis veniam eum quam perspiciatis, assumenda cum, odio, ex quibusdam voluptas.</p>
        <p>Aliquid perspiciatis provident soluta voluptatibus incidunt! Ipsa ea nobis incidunt. Consequatur sunt mollitia incidunt. A impedit ad enim pariatur sit dolorum suscipit. Pariatur distinctio consectetur numquam quod libero saepe beatae.</p>
    </main></div>

    <div class="container">
    <footer>
        <p>&copy; bluh 2024</p>
    </footer></div>
    
</body>
</html>